.header {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; 
    width: 100%       
    }


    .nav-authenticated {
      display: flex;
      gap: 1rem; 
      align-items: center;
    }
    
    .main-nav-item {
      display: flex;
      align-items: center;
      color: white;
      text-decoration: none;
      font-weight: bold;
    }
    
    .main-nav-item i {
      margin-right: 0.5rem;
    }
  
  .main-nav {
    display: flex;
    justify-content: space-between;  
    align-items: center;             
    width: 100%;              
    padding: 0 2rem;
  
    }
    
    .main-nav a {
      font-weight: bold;
      color: #2c3e50;

    }
    
    .main-nav a.router-link-exact-active {
      color: #42b983;
    }
    
    .main-nav-item {
      text-decoration: none;
      margin-right: 0.5rem;
    }
    
    .main-nav-item:hover {
      text-decoration: underline;
    }
    
    .main-nav-logo {
      display: flex;
      align-items: center;
    }
    
    .main-nav-logo-image {
      max-width: 100%;
      width: 200px;
    }


    #signintext{
padding: 8px;
    }
    
  

    /* Smartphones */
@media (max-width: 767px) {
  .main-nav-logo-image {
    max-width: 100%;
    width: 120px;}
}

/* Tablettes */
@media (min-width: 768px) and (max-width: 1024px) {
  /* styles tablette */
}