.features {
    display: flex;
    flex-direction: column;
    background-color: white;
  }
  
  @media (min-width: 920px) {
    .features {
      flex-direction: row;
    }
  }
  
  
  


  @media (min-width: 768px) and (max-width: 1024px) {
    .features {
      display: flex;
      flex-direction: row;
      background-color: white;
      height: 695px;
  }  }

